// variables
$sombra: rgba(255, 255, 255, 0.9);

body {
    margin: 0;
    padding: 0;
    background: url(../medios/show.jpeg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

main {
    text-align: center;
    color:black;
    text-shadow: 2px 2px 4px $sombra;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    font-size: 3em;
    padding-left: 400px;
}

nav {
   li {
    margin-left: 100px;
    margin-top: -205px;
    color:black;
    text-shadow: 2px 2px 4px $sombra;
   } 
}

img {
    width: 20%;
    height: 20%;
}

a {
    color:black;
    text-shadow: 2px 2px 4px $sombra;
}

footer {
    background-color: black;
    text-align: center;
    margin-top: auto;
    li {
        font-size: 40px;
        margin-left: 30px;
        padding-left: 110px;
    }
}

h2 {
    text-align: center;
    color:black;
    text-shadow: 2px 2px 4px $sombra;
}

p {
    font-size: larger;
}

li {
    transition: font-size 0.5s;
}

li:hover {
    font-size: 60px;
}

main div {
    background-color: black;
}

div img {
    transition: width 2s height 2s;
}

div img:hover {
    width: 25%;
    height: 25%;
}

// responsive

@media screen and (max-width:1024px){
    ul {
        flex-direction: column;
        padding-left: 0;
        text-align: center;
    }

    li {
        padding-right: 135px;
    }

    nav {
        li {
            margin-top: 0;
        }
    }

    nav {
        ul {
            font-size: 2em;
            margin-top: -100px;
        }
    }
}

@media screen and (max-width:768px){
    ul {
        flex-direction: column;
        padding-left: 0;
        text-align: center;
    }

    li {
        padding-right: 135px;
    }

    nav {
        li {
            margin-top: 0;
        }
    }

    nav {
        ul {
            font-size: 2em;
            margin-top: -70px;
        }
    }
}